@model adminlte.ViewModels.AdrContributionViewModel

@{
    ViewBag.Title = "ADR Contributions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">

    <section class="content-header">
        <h1>
            ADR Contribution
            <small>Preview</small>
        </h1>
    </section>

    @*Add cascading drop down*@
    @*https://www.pluralsight.com/guides/asp-net-mvc-populating-dropdown-lists-in-razor-views-using-the-mvvm-design-pattern-entity-framework-and-ajax?gclid=CjwKCAjw4PHZBRA-EiwAAas4Zk3VfOWiOVG0kc3AQtvv7YzP07x80chueh8skvugi603Fun3aAhYPxoCVcIQAvD_BwE&aid=7010a000002BWqGAAW&promo=&oid=&utm_source=non_branded&utm_medium=digital_paid_search_google&utm_campaign=EMEA_Dynamic&utm_content=&s_kwcid=AL!5668!3!277727473412!b!!g!!&ef_id=WCM1hwAABMKWGSH8:20180704081108:s*@

    <!-- Parameters -->
    <section class="content">
        <div class="box box-default">

            <div class="box-header with-border">
                <h3 class="box-title">Parameters</h3>
            </div>

            <div class="box-body">
                <div class="row">

                    @using (Html.BeginForm("Index", "AdrContribution", FormMethod.Post, new { @id = "superRegionForm" }))
                    {
                        <!-- Super Region -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Super Region</label>
                                <select class="form-control select2" style="width: 100%;" name="superRegion" id="superRegion">
                                    @foreach (var superRegion in Model.SuperRegions)
                                    {
                                        <option>@superRegion</option>
                                    }
                                </select>
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("LoadPosGroup", "AdrContribution", FormMethod.Post, new { @id = "selectedPosGroupForm" }))
                    {
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>POS Group</label>
                                <select class="form-control select2" style="width: 100%;" name="selectedPosGroup" id="selectedPosGroup">
                                    @if (Model.PosGroups != null && Model.PosGroups.Any())
                                    {
                                        foreach (var posGroup in Model.PosGroups)
                                        {
                                            <option>@posGroup</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    }
                    <!-- Pos Group -->

                </div>
            </div>
        </div>
    </section>



    <section class="content">
        <div class="row">

            @*Standalone*@
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Standalone</h3>
                    </div>


                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Month</th>
                                    <th>ADR</th>
                                    <th>Adjustment</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model?.StandaloneResults != null)
                                {
                                    foreach (var standalone in Model?.StandaloneResults)
                                    {
                                        <tr>
                                            <td>@standalone.Month</td>
                                            <td>@standalone.Adr</td>
                                            <td>@standalone.Adjustment</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @*Packages*@
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Packages</h3>
                    </div>

                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Trident</td>
                                    <td>
                                        Internet
                                        Explorer 4.0
                                    </td>
                                    <td>Win 95+</td>
                                    <td> 4</td>
                                    <td>X</td>
                                </tr>
                                <tr>
                                    <td>Trident</td>
                                    <td>
                                        Internet
                                        Explorer 5.0
                                    </td>
                                    <td>Win 95+</td>
                                    <td>5</td>
                                    <td>C</td>
                                </tr>
                                <tr>
                                    <td>Trident</td>
                                    <td>
                                        Internet
                                        Explorer 5.5
                                    </td>
                                    <td>Win 95+</td>
                                    <td>5.5</td>
                                    <td>A</td>
                                </tr>
                                <tr>
                                    <td>Trident</td>
                                    <td>
                                        Internet
                                        Explorer 6
                                    </td>
                                    <td>Win 98+</td>
                                    <td>6</td>
                                    <td>A</td>
                                </tr>
                                <tr>
                                    <td>Trident</td>
                                    <td>Internet Explorer 7</td>
                                    <td>Win XP SP2+</td>
                                    <td>7</td>
                                    <td>A</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#superRegion').on('change', function () {
                $("#superRegionForm").submit();
            });

            $("#selectedPosGroup").on("change", function () {
                $("#selectedPosGroupForm").submit();
            });
        })
    </script>
}





